:root {
    --black: #3a352f;
    --orange: #ffc23f;
    --icon_color: #ababaa;
    --white: #fff;
}


.preview {
    background-image: url(../img/preview1.jpeg);
    display: flex;
    height: 500px;
    width: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.preview::before {
    content: "";
    display: flex;
    width: 800px;
    position: absolute;
    height: 500px;
    background-color: black;
    opacity: 0.366;
}


.preview img {
    display: flex;
    margin-bottom: -10px;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    z-index: 9999;
    width: 210px;
    height: 200px;
    margin: 20px;
    padding: 40px 30px;
    justify-content: space-between;
}

.box h3 {
    margin-right: 50px;
    color: var(--black);
    font-size: 26px;
    position: relative;
    z-index: 440;
}

.box h3::before {
    content: "";
    display: inline-block;
    width: 78px;
    height: 13px;
    background-color: #ffe7b8;
    position: absolute;
    bottom: 6px;
    z-index: -2;
}

.buy {
    color: var(--icon_color);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.preview-img {
    display: flex;
    align-items: end;
    margin-bottom: -20px;
    margin-left: 20px;
}

.preview_1 {
    width: 130px;
    height: 100px;
    z-index: 7777;
    box-shadow: 0 1px 10px #85817b;
}

.preview_2,
.preview_3 {
    width: 110px;
    height: 70px;
    box-shadow: 0 1px 10px #85817b;
    position: relative;
}

.icon-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 800px;
    height: 300px;
    margin-top: 70px;
}

.icon-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 20px 40px;
    justify-content: space-between;
    transition: 0.2s ease;
    cursor: pointer;
}

.icon-card:hover{
    background-color: var(--orange);
}

.icon-card i {
    font-size: 50px;
    color: var(--icon_color);
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--icon_color);
    cursor: pointer;
    transition: 0.3s ease;
}

.arrow:hover{
    border-color: #3a352f;
}

.icon-card h5{
    margin-top: 20px;
    width: 100px;
}

.arrow i {
    font-size: 16px;
   color: #5f5b56;
}

.fa-gift2{
    margin-bottom: 20px;
}

.pulse2{
    width: 30px;
    padding: 5px 0;
}

.pulse2, .pulse3, .pulse4{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    transform: scale(1.2);
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    background-color: #fff;
    z-index: 666;
}

.pulse2::after, .pulse3::after, .pulse4::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid #fff;
    animation: pulse 2s infinite;
  }

  .pulse2::before, .pulse3::before, .pulse4::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid #fff;
    animation: pulse 2s infinite;
    animation-delay: 1s;
  }

.pulse3{
    left: 580px;
    top: 160px;
    width: 30px;
    height: 30px;
    position: absolute; 
}

.pulse4{
    position: absolute;
    top: 200px;
    left: 380px;
    width: 30px;
    height: 30px;
}